.card {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    .card-header{
        font-size: 1.8rem;
    }
    .btn{
        width: 10rem;
    }
}
.text-danger{

    color: red;
}

.imageDiv{
 img{
    height: 3rem;
    width: 3rem;
}
 
}
